exceptiongroup==1.2.2
Faker==28.0.0
iniconfig==2.0.0
numexpr==2.8.4
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pluggy==1.5.0
pyarrow==16.1.0
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tomli==2.0.1
tzdata==2024.1
